src/main/mule/anypoint-cli-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="670dd169-8655-4a7a-bf65-2937ba656541" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="anypoint-cli-testFlow" doc:id="bbe5efb7-8781-4c72-8e99-bd44e95c9996" >
		<http:listener doc:name="Listener" doc:id="b96054e6-cc71-4002-a30d-73f36207fc56" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="23c868e6-41e8-4a5e-bc02-c70302e521ca" message='#["Test Run1"]'/>
		<ee:transform doc:name="Transform Message" doc:id="88dec99a-32a8-4d37-804c-05f0af3e1e96" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Hello World"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
